@model IEnumerable<Lab3.Models.Phone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.phoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.screenSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateReleased)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.phoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.screenSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateReleased)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.phoneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.phoneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.phoneId })
        </td>
    </tr>
}

</table>
